# ===================================================================
# artellapipe-tools-pickersmanager requirements file
# ===================================================================

artellapipe
artellapipe-libs-picker